*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body{
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

#myNavbar{
    z-index: 999;
}

#myVideo{
    object-fit: cover;
    object-position: 50% 50%;
    position: absolute;
}

#Heading{
    font-weight: 900;
    position:absolute;
    top: 40%;
    color: white;
    margin-left: 20vw;
    border-left: white;
    border-left-width: 2vw;
    width: 100%;
}


/* Navigation */

.sidebar-container {
  position: absolute;
  height: 100%;
  width: 27vw;
  background-color: #f3f6fd;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  border-radius: 2px;
  z-index: 999;
  overflow-y: auto;
}
  
.sidebar-item {
  display: inline;
  justify-content: space-around;
  background-color: transparent;
  padding: 20px;
  padding-top: 2px !important;
  user-select: none;
  cursor: pointer;
  margin-left: 5px;
  font-size: 25px;
}

.sidebar-item .sidebar-title {
  color: black;
  transition: color 0.2s;
  text-decoration: none;
  font-size: 25px;
}
.sidebar-item:hover .sidebar-title {
  color: rgba(195, 207, 244, 0.5);
}
.sidebar-item:hover .sidebar-icon {
  transition: stroke 0.2s;
  stroke: rgba(195, 207, 244, 0.5);
}


  /* Right Sidebar */
.sidebar-content {
  max-width: 70vw;
  padding: 36px;
  padding-bottom: 200px !important;
  background-color: #f3f6fd;
  right:0;
  position: absolute;
  height:100%;
  border-radius: 2px;
  overflow-y: scroll;
  z-index: 999;
  font-size: 18px;
}



#left{
  margin-right: 73vw;
  right: 0;
  top: 50%;
  position: absolute;
  border-radius: 40px;
  color: white;
  background: rgba(195, 207, 244, 1)5;
  border:2px solid rgba(195, 207, 244, 1) ;
  padding-right: 10px;
  z-index: 999;
}  

#right{
  margin-left: 28vw;
  top: 50%;
  position: absolute;
  border-radius: 40px;
  color: white;
  padding-left: 10px;
  background: rgba(195, 207, 244, 1) ;
  border:2px solid rgba(195, 207, 244, 1) ;
  z-index: 999;
}  

#right-icon{
  font-size: 20px;
  height: 40px;
  text-align: center;
  color: white;
  background: rgba(195, 207, 244, 1);
  border:2px solid rgba(195, 207, 244, 1);
  padding: 9px;
  width: 40px;
  border-radius: 40px;
}


#left-icon{
  font-size: 20px;
  height: 40px;
  text-align: center;
  color: white;
  background: #abbd05  ;
  padding: 9px;
  width: 40px;
  border-radius: 40px;
  border:2px solid rgba(195, 207, 244, 1) ;
}

#bgimage{
    object-fit: inherit;
    object-position: 50% 50%;
    position: absolute;
}

#nts{
  color: white;
  text-decoration: none;
}

#nts:hover{
  color: rgba(195, 207, 244, 1);
  text-decoration: underline;
}


#nts:active{
  color: rgba(195, 207, 244, 1);
  text-decoration: underline;
}

.nav-link{
  font-size: 1.5vw;
}


#eia{
  color: white;
  text-decoration: none;
}

#eia:hover{
  color: rgba(195, 207, 244, 1);
  text-decoration: underline;
}


#eia:active{
  color: rgba(195, 207, 244, 1);
  text-decoration: underline;
}


.products-area-wrapper {
  width: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 0 4px;
}

.tableView .products-header {
  display: flex;
  align-items: center;
  border-radius: 4px;
  background-color: rgba(195, 207, 244, 1);
  position: sticky;
  top: 0;
}
.tableView .products-row {
  display: flex;
  align-items: center;
  border-radius: 4px;
}
.tableView .products-row:hover {
  box-shadow: grey;
  background-color: rgba(195, 207, 244, 1);
}
.tableView .products-row .cell-more-button {
  display: none;
}
.tableView .product-cell {
  flex: 1;
  padding: 8px 16px;
  font-size: 14px;
  display: flex;
  align-items: center;
}
