*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body{
  font-family: 'Lato', sans-serif;
}

#myNavbar{
    z-index: 999;
}

#myVideo{
    object-fit: cover;
    object-position: 50% 50%;
    position: absolute;
}

#Heading{
    font-weight: 900;
    position:absolute;
    top: 60%;
    color: white;
    text-align: center;
    width: 100%;
}


/* Navigation */

.sidebar-container {
  position: absolute;
  height: 100%;
  width: 18vw;
  background-color: #f5faff  ;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  border-radius: 2px;
  z-index: 999;
  overflow: auto;
}
  
.sidebar-item {
  display: inline;
  justify-content: space-around;
  background-color: transparent;
  padding: 20px;
  padding-bottom: 2px;
  padding-top: 2px !important;
  user-select: none;
  cursor: pointer;
  margin-left: 5px;
  font-size: 25px;
}

.sidebar-item .sidebar-title {
  color: black;
  transition: color 0.2s;
  text-decoration: none;
  font-size: 18px;
  padding: 3%;
  display: block;
  width: 200px;
  background-color: white;
  border-radius: 10px;
  border: 2px solid aliceblue;
}

.sidebar-item:hover .sidebar-icon {
  transition: stroke 0.2s;
  stroke: rgba(195, 207, 244, 0.5);
}

.sidebar-title:hover{
  color: white;
  background-color: #6fb0d0 ;
}
.active, .sidebar-title:active{
  color: white !important;
  background-color: #6fb0d0 !important;
}


  /* Right Sidebar */
.sidebar-content {
  max-width: 50vw;
  padding: 36px;
  padding-bottom: 200px !important;
  background-color: #f3f6fd;
  right:0;
  position: absolute;
  height:100%;
  border-radius: 2px;
  overflow-y: scroll;
  z-index: 999;
  font-size: 18px;
}



#left{
  margin-right: 51vw;
  right: 0;
  top: 50%;
  position: absolute;
  border-radius: 40px;
  color: white;
  background: rgba(195, 207, 244, 1);
  border:2px solid rgba(195, 207, 244, 1) ;
  padding-right: 10px;
  z-index: 999;
}  

#right{
  border-radius: 40px;
  color: white;
  background-color:#375069;
  border:2px solid #375069;
  z-index: 999;
  width: 50%;
}  

#right-icon{
  font-size: 10px;
  height: 20px;
  text-align: center;
  color: white;
  border:2px solid rgba(195, 207, 244, 1);
  width: 20px;
  border-radius: 20px;
}


#left-icon{
  font-size: 20px;
  height: 40px;
  text-align: center;
  color: white;
  background-color:#375069;
  padding: 9px;
  padding-left: 1px;
  width: 40px;
  border-radius: 40px;
  border:2px solid #375069;
}

#bgimage{
    object-fit: inherit;
    object-position: 50% 50%;
    position: absolute;
}

#nts{
  color: white;
  text-decoration: none;
}

#nts:hover{
  color: rgba(195, 207, 244, 1);
  text-decoration: underline;
}


#nts:active{
  color: rgba(195, 207, 244, 1);
  text-decoration: underline;
}

.navigation{
  font-size: 1.5vw;
  font-family: 'Lato', sans-serif !important;
  color:white !important;
}


#eia{
  color: white;
  text-decoration: none;
}

#eia:hover{
  color: rgba(195, 207, 244, 1);
  text-decoration: underline;
}


#eia:active{
  color: rgba(195, 207, 244, 1);
  text-decoration: underline;
}


.products-area-wrapper {
  width: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 0 4px;
}

.tableView .products-header {
  display: flex;
  align-items: center;
  border-radius: 4px;
  background-color: rgba(195, 207, 244, 1);
  position: sticky;
  top: 0;
}
.tableView .products-row {
  display: flex;
  align-items: center;
  border-radius: 4px;
}
.tableView .products-row:hover {
  box-shadow: grey;
  background-color: rgba(195, 207, 244, 1);
}
.tableView .products-row .cell-more-button {
  display: none;
}
.tableView .product-cell {
  flex: 1;
  padding: 8px 16px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.embed-container {
  position: relative; 
  padding-bottom: 64%; 
  height: 0; max-width: 100%;
} 
.embed-container iframe, .embed-container object, .embed-container iframe{
  position: absolute; 
  top: 0;
  left: 0; 
  width: 100%;
  height: 100%;
} 
small{
  position: absolute; 
  z-index: 40; 
  bottom: 0; 
  margin-bottom: -15px;
}

/* Content */
.content{
  margin-left: 22vw;
  width: 45%;
}

#menu_top{
  border-radius: 40px;
  color: white;
  position: absolute;
  background-color:#375069;
  border:2px solid #375069;
  z-index: 999;
  width: 10%;
  display: none;
}

#ntsinfo{
  margin-left: 20vw;
}
