{% extends 'base.html' %}
{% load static %}

{% block content %}
<div style="position:relative; min-height:100%; border-bottom: 2px solid #f3f6fd;">
    <div id="sidebar-left" class="sidebar-container">
        <button style="top:8% !important; margin-bottom:8%; margin-left:8%; font-size:20px;" onclick="RightToggleFunction()" id="right"><i id="left-icon" class="fas fa-chevron-left"></i>Menu</button>
        {% for t in titles%}
            <div class="sidebar-item st-1">
                <a href="/contents/{{ t.name }}" class="sidebar-title {% if t.name == title %}active{% endif %}">{{ forloop.counter }}.{{ t.heading }}</a>
            </div>
        {% endfor %}
    </div>
    {% for i in info %}
        <div class="content">
            <button style="margin-top:3%;margin-bottom:2%; width:18%;font-size:20px;" onclick="" id="right"><i id="left-icon" class="fas fa-chevron-left"></i>Text</button>
            <h2 style="color:black;font-size:20px;">{{ i.Title }}</h2>
                {{ i.Content | safe }}
        </div>
        <div style="margin-left:70%;">
            {% if i.types == 'MAP' %}
                <div class="embed-container">
                    <iframe style="height:50%; width:30%;" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" title="Sallachy NTS - Imagery Map" src="{{ i.image }}"></iframe>
                </div>
            {% else %}
                <img style="height:100%; width:30%" id="bgimage" src="/static/img/images/{{ i.image }}">
            {% endif %}
        </div>
    {% endfor%}
</div>
<div style="padding-top:5%;  margin-bottom:10%; position:relative; text-align:center; width:100%;">
    <a href="www.itpenergised.com/"><img style="height: 47px; width:200px;"src="{% static 'logo2.png' %}"></a>
    {% comment %} <p style="text-align:center;font-size:1vw;padding-left:20%; padding-top: 3%; padding-right:20%; font-family: 'Lato', sans-serif;">] Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit amet consectetur adipisci[ng] </p> {% endcomment %}
</div>
<script src="{% static 'js/maps.js' %}" type="text/javascript"></script>

{% endblock content %}