{% extends 'base.html' %}
{% load static %}

{% block content %}
<div style="position:relative; min-height:100%; border-bottom: 2px solid #f3f6fd;overflow-x:hidden">
    <button style="top:2.5% !important; margin-left:1.5%; font-size:20px; width:8.5%;" onclick="MenuToggleFunction()" id="menu_top"><i id="left-icon" class="fas fa-chevron-left"></i>Menu</button>
    <div style="float:left;overflow-x:hidden;" id="sidebar-left" class="sidebar-container">
        <img id="left_close_sidebar_nts" style="width: 80px;height: 30px;margin: 0 121px 20px 20px;padding: 0 0 0 6px;"src="{% static 'left_button_menu.png' %}">
        {% for t in titles%}
            {% if forloop.counter < 9 %}
                <div class="sidebar-item st-1 {% if t.name == title %}activeItem{% endif %}">
                    <a href="/contents/{{ t.name }}" class="sidebar-title">0{{ forloop.counter }}.<span style="margin-left:10px;">{{ t.heading }}</span></a>
                </div>
            {% elif forloop.counter == 9%}
                <div class="sidebar-item st-1 {% if t.name == title %}activeItem{% endif %}{% if eia_menu == 'true' %}activeItem{% endif %}" style="height:fit-content;">
                    <a href="/contents/{{ t.name }}" class="sidebar-title">0{{ forloop.counter }}.<span style="margin-left:10px; width:100%;">{{ t.heading }}<i id="dropdown" style="float:right;"class="fas fa-caret-down"></i></span></a>
                    <ul class="{% if eia_menu == 'true' %}activeMenu{% endif %}" id="dropdown_eia">
                        <li><a class="{% if title == 'Land' %}white{% endif %}" href="/EIA/Land">Landscape and Visual</a></li>
                        <li><a class="{% if title == 'Eco' %}white{% endif %}" href="/EIA/Eco">Ecology</a></li>
                        <li><a class="{% if title == 'Ornithology' %}white{% endif %}" href="/EIA/Ornithology">Ornithology</a></li>
                        <li><a class="{% if title == 'Noise' %}white{% endif %}" href="/EIA/Noise">Noise</a></li>
                        <li><a class="{% if title == 'ArAndCul' %}white{% endif %}" href="/EIA/ArAndCul">Archaeology & Cultural Heritage</a></li>
                        <li><a class="{% if title == 'AccTra' %}white{% endif %}" href="/EIA/AccTra">Access, Traffic and Transport</a></li>
                        <li><a class="{% if title == 'Hydro' %}white{% endif %}" href="/EIA/Hydro">Hydrology, Hydrogeology, Geology & Soils</a></li>
                        <li><a class="{% if title == 'Socio' %}white{% endif %}" href="/EIA/Socio">Socio-economics, Recreation & Tourism</a></li>
                        <li><a class="{% if title == 'Aviation' %}white{% endif %}" href="/EIA/Aviation">Aviation  &  Radar,  Telecommunications,  Climate  Change  and  Shadow Flicker</a></li>
                    </ul>
                </div>
            {% else %}
                <div class="sidebar-item st-1 {% if t.name == title %}activeItem{% endif %}">
                    <a href="/contents/{{ t.name }}" class="sidebar-title">{{ forloop.counter }}.<span style="margin-left:10px;">{{ t.heading }}</span></a>
                </div>        
            {% endif %}
        {% endfor %}
        <img style="width: 25px;
            height: 25px;
            margin: 35px 176px 5px 20px;
            padding: 0 1px 1px 0;"src="{% static 'download_button.png' %}">
        <a style="width: 170px;height: 24px;margin: 5px 31px 0 20px;font-family: Lato;font-size: 15px;font-weight: 500;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;color: #646464;">Download Full Summary</a>
    </div>

    <div id="sidebar-left-small" style="overflow-x:hidden;">
    <img id="left_open_sidebar" style="width: 35px;height: 30px; margin-left:20px;"src="{% static 'menu_left_closed.png' %}">
    {% for t in titles%}
        {% if forloop.counter < 10 %}
            <div class="sidebar-item st-1 sidebar_small {% if t.name == title %}activeItem{% endif %}">
                <a href="/contents/{{ t.name }}" class="sidebar-title">0{{ forloop.counter }}.</a>
            </div>
        {% else %}
            <div class="sidebar-item st-1 sidebar_small {% if t.name == title %}activeItem{% endif %}">
                <a href="/contents/{{ t.name }}" class="sidebar-title">{{ forloop.counter }}.</a>
            </div>
        {% endif %}
    {% endfor %}
    <img style="width: 25px;
        height: 25px;
        margin: 35px 176px 5px 20px;
        padding: 0 1px 1px 0;"src="{% static 'download_button.png' %}">
    </div>
    {% for i in info %}
        <div id="about"style="float:left;" class="content">
            <a><img style="width: 22px;height: 29px;padding: 0 1px 4px 3px;"src="{% static 'page_icon.png' %}"><span style="font-size: 14px; margin-left:4px;color:#646464;">Corresponding EIA Report  Chapter<span></a>
            <h2 style="color:#646464;font-size:25px; margin-top:15px;">{{ i.Title }}</h2>
                {{ i.Content | safe }}
        </div>
        <div id="image_content">
        <img id="image_collapse" style="width:82px;position:absolute; z-index:999; margin-left:12.5%;margin-top:1.5%;height: 30px;" src="{% static 'left_icon_image.png' %}">
        <form action="/{{ i.types}}" method="POST" target="_blank">
        {% csrf_token %}
            <input name="image" value="{{ i.image }}" hidden>
            <button type="image" alt="submit" style="width:150px; height:30px; position:absolute; z-index:999; background-color: #fff; border: solid 1px #ebebeb;border-radius: 15px;margin-left:22%;margin-top:1.5%;"><i style="margin-right:4px;"class="fas fa-plus"></i>Open in new tab</button>
        <form>
            {% if i.types == 'MAP' %}
                <div class="embed-container">
                    <iframe style="height:50vw; width:100%;" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" title="Sallachy NTS - Imagery Map" src="{{ i.image }}"></iframe>
                </div>
            {% else %}
                <img style="height:100%;" id="bgimage" src="/static/img/images/{{ i.image }}">
            {% endif %}
        </div>
    {% endfor%}
</div>

{% endblock content %}