{% extends 'base.html' %}
{% load static %}

{% block content %}
<button style="font-size:20px;" onclick="RightToggleFunction()" id="right">Menu<i id="right-icon" class="fas fa-chevron-right"></i></button>
<div id="sidebar-left" class="sidebar-container">
{% for i in list %}
    <div class="sidebar-item st-1">
        <a href="{{ i.link }}"class="sidebar-title">{{ i.heading }}</a>
    </div>
{% endfor %}
</div> 
<img style="height:100%; width:100%" id="bgimage" src="/static/EIA.jpg">
<button style="font-size:20px;"onclick="ToggleFunction()" id="left"><i id="left-icon" class="fas fa-chevron-left"></i>Download</button>


<div id="sidebar-right" class="sidebar-content" style="max-width:300px !important;">
    <h2 style="color:white;font-size:30px;">Chapters</h2>
    {% for c in chapters %}
    <div style="margin-top:30px;">
        <a href="{{ c.link }}"style="color:white; font-size:20px; text-decoration:none;" download>{{ forloop.counter }}. {{ c.name }}<i style="font-size:25px; margin-left:20px;"class="fas fa-download"></i></a>
    </div>
    {% endfor %}
</div>  
<script src="{% static 'js/volumes.js' %}" type="text/javascript"></script>

{% endblock content %}