{% extends 'base.html' %}
{% load static %}
{% block navigation %}
<nav id="myNavbar" class="navbar navbar-expand-lg navbar-light bg-transparent">
  <div class="container-fluid">
    <a class="navbar-brand"  href="https://www.itpenergised.com" target="_blank"><img src="{% static 'logo2.png' %}" width="250" height="59"></a>
    <a class="navbar-brand"  href="https://www.wkn-group.com/en/" target="_blank"><img src="{% static 'wkn_logo.png' %}" width="200" height="83"></a>    <div class="justify-content-end">
    <ul class="navbar-nav">
        <li class="nav-item">
          <a style="font-size:25px;"class="nav-link active" aria-current="page" href="/">Sallachy Wind Farm Home</a>
        </li>
      </ul>
    <div>  
  </div>
</nav>
{% endblock navigation %}

{% block content %}
<button style="font-size:20px;" onclick="RightToggleFunction()" id="right">Menu<i id="right-icon" class="fas fa-chevron-right"></i></button>
<div id="sidebar-left" class="sidebar-container">
{% for i in list %}
    <div class="sidebar-item st-1">
        <a href="/volumes/{{ i.id }}"class="sidebar-title">{{ i.heading }}</a>
    </div>
{% endfor %}
</div> 
<img style="height:100%; width:100%" id="bgimage" src="/static/EIA.jpg">
<button style="font-size:20px;"onclick="ToggleFunction()" id="left"><i id="left-icon" class="fas fa-chevron-left"></i>Download</button>


<div id="sidebar-right" class="sidebar-content" style="max-width:300px !important;">
    <h2 style="color:white;font-size:30px;">Chapters</h2>
    {% for v in volume_info %}
    <div style="margin-top:30px;">
        <a href="{{ v.link }}"style="color:white; font-size:20px; text-decoration:none;" download>{{ forloop.counter }}. {{ v.name }}<i style="font-size:25px; margin-left:20px;"class="fas fa-download"></i></a>
    </div>
    {% endfor %}
</div>  
<script src="{% static 'js/volumes.js' %}" type="text/javascript"></script>

{% endblock content %}