{% extends 'base.html' %}
{% load static %}

{% block content %}
<div style="position:relative; min-height:100%; border-bottom: 2px solid #f3f6fd;overflow:auto;">
    <button id="menu_top" style="top:30% !important; width:9%; margin-left:1%; font-size:20px;" onclick="MenuToggleFunction()"><i id="left-icon" class="fas fa-chevron-left"></i>Menu</button>
    <div style="float:left;" id="sidebar-left" class="sidebar-container">
    <button style="top:8% !important; margin-bottom:8%; margin-left:8%; font-size:20px;" onclick="MenuToggleFunction()" id="right"><i id="left-icon" class="fas fa-chevron-left"></i>Menu</button>
    {% for i in list %}
        <div class="sidebar-item st-1">
            <a href="{{ i.link }}"class="sidebar-title">{{ i.heading }}</a>
        </div>
    {% endfor %}
    </div> 
    <div style="float:left;width:35% !important;" class="content">
            <div>
                <button style="margin-top:4.5%;margin-bottom:2%; width:23%;font-size:20px;" onclick="" id="right"><i id="left-icon" class="fas fa-chevron-left"></i>Text</button>
                <h2 style="font-size:20px;">Chapters</h2>
                {% for v in volume_info %}
                <div style="margin-top:10px;">
                    <a href="{{ v.link }}"style="color:black; font-size:20px; text-decoration:none;" target="_blank" download>{{ forloop.counter }}. {{ v.name }}<i style="font-size:16px; margin-left:20px;"class="fas fa-download"></i></a>
                </div>
                {% endfor %}
            </div>  
    </div>
    <div style="float:right; width:42%;">
        <img style="height:100%; width:42%" id="bgimage" src="/static/EIA.jpg">
    </div>
</div>
<div style="padding-top:5%;  margin-bottom:10%; position:relative; text-align:center; width:100%;">
    <a href="www.itpenergised.com/"><img style="height: 47px; width:200px;"src="{% static 'logo2.png' %}"></a>
    {% comment %} <p style="text-align:center;font-size:1vw;padding-left:20%; padding-top: 3%; padding-right:20%; font-family: 'Lato', sans-serif;">] Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit amet consectetur adipisci[ng] </p> {% endcomment %}
</div>
<script src="{% static 'js/maps.js' %}" type="text/javascript"></script>

{% endblock content %}