{% extends 'base.html' %}
{% load static %}

{% block content %}
<div style="position:relative; min-height:100%; border-bottom: 2px solid #f3f6fd;overflow:auto; padding-bottom:5%; overflow-x:hidden;">
    <div style="float:left;background-color:#ebf0e1;" id="sidebar-left" class="sidebar-container">
        <img id="left_close_sidebar" style="width: 80px;height: 30px;margin: 0 121px 20px 20px;padding: 0 0 0 6px;"src="{% static 'left_button_menu.png' %}">
    {% for i in list %}
        <div class="sidebar-item st-1 eia_sidebar_item">
        {% if forloop.counter == 1 %}
            <a href="{{ i.link }}" class="sidebar-title">{{ i.heading }}</a>
        {% else %}
            <a href="{{ i.link }}" target="_blank" class="sidebar-title">{{ i.heading }}</a>
        {% endif %}
        </div>
    {% endfor %}
    </div> 

    <div style="float:left;background-color:#ebf0e1 !important;" id="sidebar-left-small" class="sidebar-container">
        <img id="left_open_sidebar" style="width: 35px;height: 30px; margin-left:20px; margin-bottom:20px;" src="{% static 'menu_left_closed.png' %}">
    {% for i in list %}
        <div class="sidebar-item st-1 sidebar_small eia_sidebar_item">
        {% if forloop.counter == 1 %}
            <a href="{{ i.link }}" class="sidebar-title">0{{ forloop.counter }}.</a>
        {% else %}
            <a href="{{ i.link }}" target="_blank" class="sidebar-title">0{{ forloop.counter }}.</a>
        {% endif %}
        </div>
    {% endfor %}
    </div>  
    <div id="about" style="margin-right:100px;">
        <br/>
        <a><img style="width: 22px;height: 29px;padding: 0 1px 4px 3px;"src="{% static 'page_icon.png' %}"><span style="font-size: 14px; margin-left:4px;">Corresponding EIA Report  Chapter<span></a><br/>
        <img src="{% static 'eia_green_icon.png' %}" style="width: 74px; height:74px;margin: 10px 9px 7px 0;"><br/>
        <h1 style="font-size:30px;font-weight: 600; margin-top:25px;color:#646464;">Environmental Impact Assessment Report</h1><br/>
        <hr>
        <br/>
        <span style="font-size:25px;margin-top:25px;color:#646464;">Volume 1: Chapters</span>
        <hr>
        {% for v in volume_info %}
            <div style="margin-top:10px;">
                <a href="{{ v.link }}"style="color:#505050; font-size:22px; text-decoration:none;">{{ forloop.counter }}. {{ v.name }}
                <span style="margin-left:20em; color:#646464; font-size:14px; text-decoration:underline;">Corresponding NTS Section</span><span style="float:right; color:#646464;font-size:14px; text-decoration:underline;">Download
                <img style="width: 25px;
                    height: 25px;
                    margin: 0px 0px 0px 20px;
                    padding: 0 1px 1px 0;"
                    src="{% static 'download_button.png' %}">
                </span></a>
                <hr>
            </div>
        {% endfor %}
    </div>
</div>
<div style="padding-top:5%;  margin-bottom:10%; position:relative; text-align:center; width:100%;">
    <a href="www.itpenergised.com/"><img style="height: 47px; width:200px;"src="{% static 'logo2.png' %}"></a>
    {% comment %} <p style="text-align:center;font-size:1vw;padding-left:20%; padding-top: 3%; padding-right:20%; font-family: 'Lato', sans-serif;">] Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit amet consectetur adipisci[ng] </p> {% endcomment %}
</div>
<script src="{% static 'js/maps.js' %}" type="text/javascript"></script>

{% endblock content %}