{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
<script src="https://kit.fontawesome.com/2dcc255ddc.js" crossorigin="anonymous"></script>    
<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form method="POST" class="login">
			{% csrf_token %}
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					{{ form.username }}
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					{{  form.password }}
				</div>
				<div class="login__field">
					<input type="checkbox" onclick="ShowPassword()"> Show Password
				</div>
				{{ form.errors }}
				<button type="submit" class="button login__submit">
					<span class="button__text">Log In Now</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>				
			</form>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>
<script src="{% static 'js/main.js' %}"></script>
